:root {
  /* --primary: #ebc908; */
  --primary: #e8ff39;
  --primary-text: #1a1a1a;
  --secondary: #ff1dec;
  --secondary-text: #ffffff;
  /* --accent: #505050; */
  --accent: #10aeff;
  --accent-text: #ffffff;
}
